.header {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 105px;
  height: 45px;
}

.header__open-menu {
  display: block;
  background-color: transparent;
  border: none;
  padding: 4px;
}

@media (min-width: $desktop-width) {
  .header__open-menu {
    display: none;
  }

  .header img {
    width: 205px;
    height: 95px;
  }
}
